

{% extends "base.html" %}
{% block content %}
{% load static %}

    <main class="info-section">
      <nav>
        <ul>
          <li style="background-color: #861919; ">
            <a href="" style="color: #fff !important;">
                <img src="{% static 'img/ph_graduation-cap-light.png' %}" alt="">
                Mаалымат
            </a>
          </li>
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'room' %}">Жеке бөлмө</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'login_enrollee' %}">Жеке бөлмө</a>
          </li>
          {% endif %}
        </ul>
      </nav>
      <div class="info">
        <h2>Магистратура</h2>
        <p>
          1.Магистратурага төрт баллдык баалоо системасы боюнча орточо жетишүүсү
          2,00 баллдан кем болбогон ЖОЖдордун бүтүрүүчүлөрү кабыл алынат.
          <br /><br />
          2.Эгерде Кыргыз Республикасынын жаранынын жогорку билими жөнүндө
          диплому Кыргыз Республикасынын же Түркия Республикасынын чегинен
          тышкары алынган болсо, анда Кыргыз Республикасынын Билим берүү жана
          илим министрлигинде нострификация процедурасынан өткөндүгүн
          тастыктаган документти көрсөтүү зарыл. Эгерде Түркия Республикасынын
          жаранынын жогорку билими жөнүндө диплому Түркия Республикасынын
          чегинен тышкары алынган болсо, тиешелүү мамлекеттик органдарда
          нострификация процедурасынан өткөндүгүн тастыктаган документти
          көрсөтүү зарыл. <br /><br />
          3. Кирүү экзамендеринде төмөндөгү эл аралык тесттердин биринин
          жыйынтыгы: жазуу түрүндөгү экзамендин ордуна уруксат (жарактуу мөөнөтү
          3 жыл) босого баллы-55 балл (эсептөөдө гуманитардык жана/же жалпы
          билим берүү блогунун жыйынтыктары эске алынат) же эл аралык таанылган
          экзамендер боюнча эквиваленттүү балл (жарактуу мөөнөтү 5 жыл)
          эсептелет. Бирок, оозеки экзаменге катышуу милдеттүү. Жыйынтыктоочу
          өтүү баллы 70 баллды түзөт. Талапкер жогоруда көрсөтүлгөн
          сертификаттардын бири жок кирүү экзамендерин тапшырат (жазуу жүзүндө
          жана оозеки).
        </p>

        <h2>Докторантура</h2>
        <p>
          1. Докторантурага магистратуранын бүтүрүүчүлөрү жана дипломдуу адистер
          (беш жылдык жогорку билими бар), ошондой эле төрт баллдык баалоо
          системасы боюнча орточо 2,50 баллдан кем эмес медициналык жана
          ветеринардык факультеттердин бүтүрүүчүлөрү кабыл алынат.<br /><br />
          2. Эгерде Кыргыз Республикасынын жаранынын жогорку билими жөнүндө
          диплом Кыргыз Республикасынын жана Түркия Республикасынын чегинен
          тышкары алынган болсо нострификация процедурасынан өткөндүгүн
          тастыктаган документти Кыргыз Республикасынын Билим берүү жана илим
          министрлигинде берүү зарыл. Эгерде Түркия Республикасынын жаранынын
          жогорку билими жөнүндө диплому Түркия Республикасынын чегинен тышкары
          алынган болсо, тиешелүү мамлекеттик органдарда нострификация
          процедурасынан өткөндүгүн тастыктаган документти көрсөтүү зарыл.<br /><br />
          3. Кирүү экзамендеринде төмөндөгү эл аралык тесттердин биринин
          жыйынтыгы: жазуу түрүндөгү экзамендин ордуна уруксат (жарактуу мөөнөтү
          3 жыл) босого баллы-55 балл (эсептөөдө гуманитардык жана/же жалпы
          билим берүү блогунун жыйынтыктары эске алынат) же эл аралык таанылган
          экзамендер боюнча эквиваленттүү балл (жарактуу мөөнөтү 5 жыл)
          эсептелет. Бирок, оозеки экзаменге катышуу милдеттүү. Жыйынтыктоочу
          өтүү баллы 70 баллды түзөт. Талапкер жогоруда көрсөтүлгөн
          сертификаттардын бири жок кирүү экзамендерин тапшырат (жазуу жүзүндө
          жана оозеки).<br /><br />4. Докторантурага кирүү үчүн Университеттин
          Окумуштуулар кеңеши тарабынан бекитилген Чет Тилдер (англис, немис,
          француз, италия, испан, кытай, араб жана орус) сертификатынын болушу
          милдеттүү. Кыргыз-Түрк "Манас" университетинин тестирлөө жана
          бөлүштүрүү борборунун чет тил боюнча сертификатынан тышкары (өтүү
          баллы-50, сертификаттын жарактуулук мөөнөтү – 3 жыл) Түркия
          Республикасынын тестирлөө жана бөлүштүрүү борборунун сертификаттары
          (өтүү баллы-50), ошондой эле башка эл аралык тесттердин сертификаттары
          кабыл алынат. Башка эл аралык тесттердин жыйынтыктары университеттин
          Окумуштуулар кеңеши тарабынан бекитилген "Чет тил экзамендеринин
          эквиваленттүүлүгү"таблицасына ылайык эсептелет. Чет тилдер
          факультетинин бүтүрүүчүлөрү чет тили боюнча сертификат берүүгө
          милдеттенишет (негизги профилдик тилден тышкары). КМШ жарандары үчүн
          орус тили чет тили катары каралбайт.
        </p>
        <h2>Эл Аралык Студенттер</h2>
        <p>
          Чет өлкөлүк жарандар, чет өлкөлүк ЖОЖдордун бүтүрүүчүлөрү (ТР
          ЖОЖдорунан тышкары); чет өлкөлүк жарандар, КР ЖОЖдорунун кыргыз жана
          түрк тилдеринде эмес окуган бүтүрүүчүлөрү; ошондой эле ЖОЖдор
          ортосундагы эки тараптуу макулдашуулардын алкагында талапкерлер үчүн
          төмөнкү кабыл алуу процедурасы каралган.<br /><br />
          1. Магистратурага төрт баллдык баалоо системасы боюнча орточо
          жетишүүсү 2,00 баллдан кем болбогон ЖОЖдордун (бакалаврдын)
          бүтүрүүчүлөрү кабыл алынат. Докторантурага төрт баллдык баалоо
          системасы боюнча орточо жетишүүсү 2,50 баллдан кем болбогон
          магистратуранын бүтүрүүчүлөрү жана дипломдуу адистер (беш жылдык
          жогорку билими бар) кабыл алынат. <br /><br />2. Талапкерлер
          нострификация жол-жобосунан өткөндүгүн тастыктаган документти Кыргыз
          Республикасынын жана/же Түркия Республикасынын тиешелүү мамлекеттик
          органдарында көрсөтүшү керек. 3. Талапкерлерге кирүү оозеки сынагына
          катышуу үчүн тилди тандоо мүмкүнчүлүгү берилет. Чет тили боюнча
          сертификат талап кылынбайт жана жазуу түрүндө экзамен тапшыруу
          каралган эмес.<br /><br />ЖАЛПЫ ЖОБОЛОР ЖАНА КАТТОО ҮЧҮН КЕРЕКТҮҮ
          ДОКУМЕНТТЕР<br /><br />
          Документтерди кабыл алуу ишке ашырылат Институтунда социалдык илимдер
          3-июлдан 25-августундагы 2023-ж. чейин, (17:30 боюнча бишкек шаардык
          убакыт), ошондой эле ал аркылуу төмөнкү электрондук почта:
          <a href="bilgi.sbe@manas.edu.kg">bilgi.sbe@manas.edu.kg</a> же болот
          өтүүгө электрондук каттоого сайтында:<a
            href="https://info.manas.edu.kg/sinav/"
            >https://info.manas.edu.kg/sinav/</a
          ><br /><br />
          1. Каттоо формасын төмөнкү даректен алууга болот:
          <a
            href="https://manas.edu.kg/tr/Graduate+School+of+Social+Sciences/formlar"
            >https://manas.edu.kg/tr/Graduate+School+of+Social+Sciences/formlar</a
          >
          же төмөнкү электрондук почта аркылуу:
          <a href="bilgi.sbe@manas.edu.kg">bilgi.sbe@manas.edu.kg</a>. 2.
          Магистратурага кабыл алуу үчүн бакалавр дипломунун көчүрмөсү талап
          кылынат, докторантурада магистр диплому же адис диплому (беш жылдык
          жогорку билими менен). Окууга тапшырууда дипломдордун түп нускасын
          тапшыруу талап кылынат. <br /><br />3. Дипломду нострификациялоо
          жөнүндө Документ (Кыргыз Республикасынын жана Түркия Республикасынын
          чегинен тышкары алынган жогорку билим жөнүндө). Окууга тапшырганда
          документтин түп нускасын тапшыруу талап кылынат. <br /><br />4.
          Дипломдун кошумча барагынын көчүрмөсү (отчет карточкасы,
          транскрипт).<br /><br />
          5. Фотография 3х4 2 даана.<br /><br />
          6. Паспорттун көчүрмөсү же идентификациялык карта (ордер).<br /><br />
          7. Эл аралык экзамендердин сертификатынын түп нускасы же көчүрмөсү
          (эгерде бар болсо): көзөмөл, көзөмөл, көзөмөл. 8. Докторантура үчүн
          чет тил сертификатынын түп нускасы же көчүрмөсү.
        </p>
      </div>
    </main>

{% endblock %}