{% extends "base.html" %}
{% block content %}
    <main class="signup-main">
      <div class="signup-form">
        <h1>Каттоо</h1>
        <form action="{% url 'signup' %}" method="POST">
          {% csrf_token %}
          <div class="input-box">
            <input type="text" placeholder="Атыңыз" name="firstname" required title="Атаңызды жазыңыз"/>
          </div>
          <div class="input-box">
            <input type="text" placeholder="Фамилияңыз" name="lastname" required/>
          </div>
          <div class="input-box">
            <input type="text" placeholder="Атаңыздын аты" name="fathername"/>
          </div>
          <div class="input-box">
            <input type="date" placeholder="Туулган датаңыз" name="dateofbirth" required/>
          </div>
          <div class="input-box">
            <label for="gender">Жыныс</label>
            <select name="gender" id="gender" required>
              <option value="choice">Тандаңыз!</option>
              <option value="Эркек">Эркек</option>
              <option value="Кыз">Кыз</option>
            </select>
          </div>
          <div class="input-box">
            <label for="citizenship">Жаарандык</label>
            <select name="citizenship" id="citizenship" required>
              <option value="choice">Тандаңыз!</option>
              <option value="Кыргызстан">Кыргызстан</option>
              <option value="Туркия">Туркия</option>
              <option value="Өзбекстан">Өзбекстан</option>
            </select>
          </div>
          <div class="input-box">
            <input type="email" placeholder="E-mail" name="email" required/>
          </div>
          <div class="input-box">
            <input type="tel" placeholder="Телефон номериңиз" name="phonenumber" required/>
          </div>
          <div class="input-box">
            <input type="password" placeholder="Сыр сөз" name="password" required/>
          </div>
          <div class="input-box">
            <input type="password" placeholder="Сыр сөздү тастыктоо" required/>
          </div>

          <div class="submission">
            <div class="accepting">
              <p>
                Мен жогоруда айтылгандардын баарын окуп чыктым жана түшүндүм,
                эскертүүлөр экенин билдиремин, маалымат каттоо учурунда
                киргизилгендер туура.
              </p>
              <div><input type="checkbox" required/><span>Кабыл алам</span></div>
            </div>
            <button type="submit">Катталуу</button>
          </div>
        </form>
      </div>
    </main>
{% endblock %}